<div class="container-fluid home-container">
  <div class="header">
    <app-header></app-header>
  </div>
 

  <!-- https://image.tmdb.org/t/p/w1280 -->

  
  <!-- Search bar -->
  <div class="search-bar">
    <input type="text" placeholder="Search by Movie Name or Rating" [(ngModel)]="searchQuery">
    <button type="button" (click)="applyFilters()">Search</button>
  </div>

<!-- Modify your template file to include router navigation -->
<div class="main">
  <div *ngFor="let movie of filteredMovies" class="card" (click)="goToMovieDetails(movie.id)">
    <img [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w1280' + movie.poster_path : 'fallback_image_url'" alt="Image">
    <h3>{{ movie.original_title }}</h3>
    <p>Rating: {{ movie.vote_average }}</p>
  </div>
</div>

</div>